.form {
  margin-top: 200px;
}

.help-icon {
  color: black;
  margin-left: 2px;
  font-size: 22px;
}

.help-icon:hover {
  cursor: pointer;
}

.select-text {
  font-size: 25px;
}

.command-buttons {
  margin-top: 15px;
}
