.form {
  margin-top: 180px;
  border: 1px solid black;
  padding: 20px;
}

.help-icon {
  color: black;
  margin-left: 4px;
  font-size: 22px;
  margin-top: 4px;
}

.help-icon:hover {
  cursor: pointer;
}

.select-text {
  font-size: 25px;
}

.command-buttons {
  margin-top: 15px;
}

.header {
  display: flex;
}
